.home {
    height: 400px;
    background-color: #f2f2f2;
    margin-bottom: 300px;
}
.my__img {
    width: 300px;
    margin-top: 15%;
    border-radius: 50%;
    border: 8px solid white;
}

@media screen and (max-width: 600px) {
    .home{
        margin-bottom: 0px;
    }
}